apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.APPNAME}}
  labels:
    app: {{.APPNAME}}
    kubernetes.azure.com/generator: {{.GENERATORLABEL}}
  namespace: {{.NAMESPACE}}
spec:
  selector:
    matchLabels:
      app: {{.APPNAME}}
  template:
    spec:
      containers:
        - name: {{.APPNAME}}
          image: {{.IMAGENAME}}:{{.IMAGETAG}}
          envFrom:
            - configMapRef:
                name: envvars-configmap