apiVersion: v1
kind: Service
metadata:
  name: {{ .Config.GetVariableValue "APPNAME"}}
  namespace: {{ .Config.GetVariableValue "NAMESPACE" }}
  labels:
    kubernetes.azure.com/generator: {{ .Config.GetVariableValue "GENERATORLABEL" }}
spec:
  type: LoadBalancer