apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.APPNAME}}
  labels:
    app: {{.APPNAME}}
    kubernetes.azure.com/generator: {{.GENERATORLABEL}}
  namespace: {{.NAMESPACE}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.APPNAME}}
  template:
    metadata:
      labels:
        app: {{.APPNAME}}
    spec:
      containers:
        - name: {{.APPNAME}}
          image: {{.IMAGENAME}}:{{.IMAGETAG}}
          imagePullPolicy: Always
          ports:
            - containerPort: {{.PORT}}
          envFrom:
            - configMapRef:
                name: envvars-configmap