name: Draft JSON Integration Tests
on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      deployments: read
      packages: none
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'
      - name: make
        run: make
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: helm-skaffold
          path: ./test/skaffold.yaml
          if-no-files-found: error
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: draft-binary
          path: ./draft
          if-no-files-found:
            error
  info:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: draft-binary
      - run: chmod +x ./draft
      - run: |
          mkdir ./langtest
      - run: |
          ./draft info > ./info.json
          echo "Draft Info JSON schema:"
          cat test/info_schema.json
            echo "Draft Info JSON:"
          cat info.json
      - name: Validate JSON
        run: |
          npm install -g ajv-cli
          ajv validate -s test/info_schema.json -d info.json
