name: Draft JSON Integration Tests
on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      deployments: read
      packages: none
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'
      - name: make
        run: make
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: helm-skaffold
          path: ./test/skaffold.yaml
          if-no-files-found: error
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: draft-binary
          path: ./draft
          if-no-files-found:
            error
  info:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: draft-binary
      - run: chmod +x ./draft
      - run: |
          mkdir ./langtest
      - run: |
          ./draft info > ./info.json
          echo "Draft Info JSON schema:"
          cat test/info_schema.json
            echo "Draft Info JSON:"
          cat info.json
      - name: Validate JSON
        run: |
          npm install -g ajv-cli
          ajv validate -s test/info_schema.json -d info.json
